.Cart {
   display: inline-block;
   width: 20%;
   height: 400px;
   overflow: auto;
   box-sizing: border-box;
   vertical-align: top;
}
.Delivery {
   font-weight: bold;
}
.Total-Price {
   font-weight: bold;
}