.Dish {
   width: 100%;
   border: 1px solid #eee;
   box-shadow: 0 2px 3px #ccc;
   padding: 10px;
   margin: 10px auto;
   box-sizing: border-box;
   overflow: hidden;
}
.Image {
   width: 55%;
   height: 60%;
   float: left;
}