.CartItem {
   width: 80%;
   border: 1px solid #eee;
   box-shadow: 0 2px 3px #ccc;
   padding: 10px;
   margin: 10px auto;
   box-sizing: border-box;
   position: relative;
}
.Remove {
   position: absolute;
   top: 5px;
   right: 7px;
   border: none;
   border-radius: 5px;
   background: transparent;
   font-weight: bold;
   padding: 0;
   cursor: pointer;
   font-size: 15px;
}
.Dish-Name {
   font-weight: bold;
}